
html {
  box-sizing: border-box;
  font-size: 100%
}


body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: "Merriweather", serif;
  font-weight: 300;
  line-height: 1.5;
  color: #3c3c3c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}